# Java
*.class
*.jar
*.war
*.ear

# Python
__pycache__
*.pyc

# Eclipse
.project
.classpath
.settings
.metadata

# IntelliJ
*.eml
# Idea
.idea
*.iml
*.iws
*.ipr

# OS
Thumbs.db
.DS_Store

# Gradle
.gradle
!gradle-wrapper.jar

# Maven
target

# Build
out
build
bin

# Other
*.log
*.swp
*.bak

#Log
TestLog
TetrisLog
AcrobotLog
*.csv

#openAIgym
data
